.product-header{
    display:flex;
    max-width: 1000px;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title{
    width: 40%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.price{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity{
    width: 25%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.remove{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.container-products{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}

.product{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.products img{
    width: 75px;
}

.product h4{
    font-weight: bold;
}

.cartEmptyContainer{
    display: flex;
    justify-content: center;
}

.cart-empty-title{
    margin-top: 156px;
    margin-left: -160px;
}

.cartClearTotalContainer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}