.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-image {
    border: 1px darkgray solid;
    margin: 8px 3px 3px 3px;
    padding: 6px;
}

.ant-card-cover img {
    height: 250px !important;
    border-radius: 2px 2px 0 0;
}